.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.h-page {
  min-height: 100vh;
}


.bg-cream{
  background-color: #A9AF7E !important;
  border: none !important;
}

.bg-creamtable{
  background-color: #A9AF7E !important;
  border-color: white !important;
}

.bg-green{
  background-color: #61764B !important;
}

.bg-gray{
  background-color: #FAD6A5 !important;
  border: none !important;
}

.bg-blackgreen{
  background-color: #557153 !important;
  border: none !important;
}

.bg-pink{
  background-color: #B73E3E !important;
  border: none !important;
}

.bg-greeny{
  background-color: #A9AF7E !important;
  border: none !important;
}

